<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.darknights.devigation.domain.roadmap.query.domain.repository.RoadmapCategoryMapper">
    <resultMap id="QueryRoadmapCategoryMap" type="com.darknights.devigation.domain.roadmap.query.domain.aggregate.entity.QueryRoadmapCategory">
        <id property="id" column="id" />
        <result property="categoryId" column="category_id"/>
        <result property="roadmapId" column="roadmap_id"/>
        <result property="position" column="position"/>
        <result property="childCategoryId" column="child_category_id"/>
        <result property="parentCategoryId" column="parent_category_id"/>
    </resultMap>

    <select id="findRoadmapCategoryByRoadmapId" resultMap="QueryRoadmapCategoryMap">
        SELECT *

        FROM
            ROADMAP_CATEGORY_TB
        WHERE
            roadmap_id = #{roadmapId}
    </select>

</mapper>